/* classes */
.link{position:absolute;}
.links_customer{left:0px;}
.links_personal{left:245px;}
.links_business{left:490px;}
.links_about{left:734px;}
/*.links_about{left:692px;}*/

.link_left{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.link_right{border-top-right-radius:5px;border-bottom-right-radius:5px;}

/* dropdown container */
.link ul{
	margin:0;
	padding:0;
	/*position:absolute;top:100px;left:100px;*/
	list-style:none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
	float:left;
}


/* dropdown head container */
.link > ul > li > div {

	position:absolute;
	top:0px;
	left:0px;
	/*background-image:url('../res/TBOC_Blank_Button.png');*/
	background-repeat:no-repeat;
	height:40px;
	width:220px;
}

/* dropdown head */
.link > ul > li > div > a {
	position:absolute;
	top:10px;
	left:0px;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	color:#EEE;
	height:40px;
	width:220px;
}

/* dropdown menu */
.link ul ul{
	position:absolute;
	top:40px;
	left:0px;
	width:100%;
	z-index:100;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}

/* hover dropdown animation */

/* THIS NEEDS DONE IN JAVASCRIPT ._. */
.link > ul > li:hover .link_drop,
.link > ul > li > a:hover .link_drop,
.link ul ul li:hover > .link_drop,
.link ul ul li a:hover > .link_drop
{
/*	height:116px;*/
}

/* dropdown lines */
.link ul ul li{
	/*background-color:#EAEAEA;*/
	/*width:220px;*/
	width:100%;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/* dropdown lines text */
/*
.link ul ul li a {
	width:100%;
	display:block;
	text-decoration:none;
	padding:5px 0;
	color:#4c4c4c;
	text-align:center;
}
*/

/* hover lines text color */
/*
.link ul ul li a:hover, .link ul ul li:hover > a {
	color:#FFF;
	background-color:gray;
}
*/
