/*
.header{
	width: 600px; 
	height:50px; 
	border:1px dotted grey;
}
*/
/*
.content{
	position:relative; 
	width: 600px; 
	height:500px; 
	color:white; 
	overflow:hidden;
	}
	*/
/*
.item{
	position:absolute; 
	top:50px; 
	left:20px; 
	width: 600px; 
	height:400px; 
	}
*/	
/*
.navigation {
            width:600px;
        }
*/
/* dropdown alignment and style */
.navigation ul{
	position:relative;
	z-index:1000;
	list-style:none;
	margin:0;
	padding:0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 15px;
}

/* dropdown block container */
.navigation > ul > li {
	position: relative;
	float: left;
	margin-right: 10px;
}


/* dropdown block */
.navigation > ul > li > a {
	display:block;
	background-color: #333;
	padding:8px 14px;
	text-decoration:none;
	color:#aaaaaa;
}

/*
.navigation > ul > li > a:hover{
	background-color:#666666;
	color:#eeeeee;
}
*/
.navigation ul ul{
			background-color:blue;
            width:160px;
            position:absolute;
            z-index:100;
            height: 0;
            overflow: hidden;
			-webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
        }
        
        /* don't display box yet */
        .navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
            height:0;
            
        }
        /* drop-down box */
        .navigation ul ul ul{
            left:170px;
            width:170px;
        }
        
		/* dropdown */
        .navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
        .navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
            height:116px;
        }

		/* dropdown background */
        .navigation ul ul li{
            background-color:#eaeaea;
            width:170px;
			-webkit-transition: background-color 0.3s ease;
            -moz-transition: background-color 0.3s ease;
            -o-transition: background-color 0.3s ease;
            -ms-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
        }
        
		/* hover bg color */
        .navigation ul ul li:hover {
            background-color:#999;
        }
        
		/* text */
        .navigation ul ul li a {
            display:block;
            text-decoration:none;
            margin:0 12px;
            padding:5px 0;
            color:#4c4c4c;
        }
        .navigation ul ul li a:hover, .navigation ul ul li:hover > a {
            color:#ffffff;
        }